@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="geocms">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GeoCMS</title>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
        @Styles.Render("~/bundles/css/libraries")
        @Styles.Render("~/bundles/css/common")
        @Styles.Render("~/bundles/css/cms")
        @Scripts.Render("~/bundles/js/libraries")
    </head>
    <body data-ng-controller="pageController as vm">
        
        <div data-ng-if="vm.identity.isAuthenticated" data-ng-include="'/Modules/Common/Templates/MainMenu.html'" id="main-menu"></div>
        
        <div ui-view id="main-container"></div>

        <script type="text/javascript">

            var app = angular
                .module("geocms", ['ui.router', 'google-maps', 'ui.bootstrap', 'LocalStorageModule', 'ngDialog', 'angularFileUpload'])
                .config(function ($stateProvider, $urlRouterProvider, $httpProvider, Startup) {
                    Startup.configureTokenAuthentication($httpProvider);
                    Startup.configureRouting($stateProvider, $urlRouterProvider);
            });
          
            $(document).ready(function () {
                $(document).click(function(e) {
                    if ($(e.target).parents(".button").parents(".dropdown").length < 1) {
                        $('.dropdown-slider').slideUp();
                        $('span.toggle').removeClass('active');
                    }
                });
    
            });
        </script>
        @Scripts.Render("~/bundles/js/common")
        @Scripts.Render("~/bundles/js/import")
        @Scripts.Render("~/bundles/js/cms")
        @Scripts.Render("~/bundles/js/security")
    </body>
</html>
